	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;root{
	--var-azul
}
body{
	background-color: #f8f9fb;
}

#intro{
	padding: 10% 0;
	background-image: url("../img/bg_girl.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	color: #fff;
}

.titulo{
	font-family: Gotham, 'Helvetica Neue', Helvetica, Arial, 'sans-serif';
	font-weight: lighter;
}
.subtitulo{
	font-family:Gotham, "Helvetica Neue", Helvetica, Arial, "sans-serif";
	font-weight: bolder;
}
.btn-azul{
	border-radius: 1;
	background-color: #00acb3;
	color: #fff;
}
.btn-blanco{
	border-radius: 1;
	background-color: #fff;
	color: #000;
}
.btn-rojo{
	border-radius: 1;
	background-color: #c9302c;
	color: #fff;
}
.section{
	padding: 10% 0;
}
#register{
	background-color: #252830;
	color: #fff;
}
#register a{
	font-size: 24px;
}
#register h3{
	text-align: left;
}
.btn-blancot{
	border-radius: 1;
	background-color: #fff;
	color: #000;
	background-color: transparent;
	border: solid;
}
#fit{
	background-image: url(img/health-fitness.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}
#fit p{
	color: #000;
	font-weight: lighter;
	text-align: left;
}
#fit h3{
	font-weight: lighter;
	text-align: left;
}
#fit h4{
	font-weight: lighter;
	color: #00acb3;
	text-align: left;
}
#trainers{
	background-color: #252830;
	color: #fff;
}
#contact{
background-image: url(img/bg-map.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

























































